.divider-parent-container-frag {
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 5%;
    height: 50vh;
}

.number-of-students {
    /* color: black; */
    text-align: left;
}

.top-frag-container, .bottom-frag-container {
    /* color: black; */
    display: flex;
}

.start-frag-container {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 40%);
    gap: 5%;
}
.top-image-fragment {
    margin: 1px;
    height: 25px;
}

.top-content-fragment {
    height: 25px;
}


.top-image-fragment img, .bottom-image-fragment img{
    width: 90%;
    /* height: 30%; */
}

.number-of-students {
    width: 40%;
}