@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

 .involved-wrapper {
    color: aliceblue;
    display: flex;
    gap: 3%;
    justify-content: center;
    padding: 30px;
}
.why-container-fragment-parent-wrapper {
    margin-top: 17%;
    color: black;
}

.image-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 50%;
    position: relative;
}

.call-to-act {
    position: absolute;
    padding-left: 5%;
    padding-bottom: 7%;
    bottom: 0%;
}

.call-to-act p {
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0px;
}

.innner-comp {
    display: flex;
    align-items: center;
}
span img {
    width: 35px;
    padding-top: 10px;
}

.header-call {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
}

.image-wrapper img {
    width: 100%;
    height: 65vh;
    border-radius: 5%;
}
.table-wrapper {
    width: 55%;
    height: 65vh;
    border-radius: 5%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.85);
}

.table-wrapper ul{
    list-style: none;
    color: black;
    
}
.table-wrapper ul li{
    color: black;
    border-bottom: 1px black solid;
    padding: 5%;
}

.list-title h3 {
    color: black;
}

.other-list-title h3 {
    color:#303030;
}

.tittle-big {
    color: #303030;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.9em;
    letter-spacing: -1px;
}

.tittle-small-letter {
    color: #919193;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 1.3px;
    margin-top: 4px;
}
.list-title {
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: start;
    border-bottom: 1px solid rgb(165, 161, 161);
    padding: 9%;
}
.other-list-title-link {
  text-decoration: none;
}

.other-list-title {
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: start;
    border-bottom: 1px solid rgb(156, 154, 154);
    padding: 5%;
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}
 span{
    margin: 2px;
    padding-top: 5px;
}

.button-get-involved {
    margin-top: 3%;
    width: 20%;
    border-radius: 25px;
    background-color: #ece7ee;
    text-align: center;
    padding: 1%;
    align-self: center;
    text-transform: capitalize;
}

.button-get-involved:hover{
    background-color: #c0b2b2;
}
.button-get-involved a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
@media screen and (max-width: 960px) { 
    .involved-wrapper {
        flex-direction: column;
        margin-top: 25%;
        justify-content: center;
    }

    .image-wrapper {
        /* background: linear-gradient(0deg, rgba(182, 45, 127, 0.3), rgba(153, 5, 89, 0.3)), url('../images/bg-four.jpg'); */
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5%;
        height: 50vh;
        width: 95vw;
        margin-left: 2%;
    }

    .image-wrapper img {
        height: 50vh;
    }
    .table-wrapper {
        width: 100%;
        height: 80vh;
    }

    .button-get-involved {
        width: 40%;
        padding: 2%;
    }
}