.home-container {
  background: radial-gradient(rgba(0,0,0,.2),#000), url("https://myafrilearn.com/static/media/bg4.5a98397a.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  text-align: center;
  color: #fff;
}

.overlay-message-top {
  text-align: center;
  height: 40%;
  margin-top: 55px;
  padding-top: 25px;
}
.search-input-overlay {
  padding: 18px;
  width: 595px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
}

.search-btn-overlay {
  padding: 18px;
  width: 170px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #84bb29!important;
  
  border: none;
}
.search-bar-container {
  display: flex;
  justify-content: center;
}